<div>  
    {{#if isEditigData}}
        {{md-textarea label='Message' value=file.fileData class="col s12"}}
        <a class="btn" onclick={{action 'setEditing' false}}><i class="material-icons left">save</i> Save</a>
    {{else}}
        <p>Data: <br> {{{file.fileData}}}</p>
        <a class="btn-large blue" onclick={{action (route-action 'sendMessage' file)}}><i class="material-icons left">send</i> Send</a>
        <a class="btn cyan lighten-2" onclick={{action 'setEditing' true}}><i class="material-icons left">edit</i> Edit</a>
        <a class="btn red" onclick={{action (route-action 'deleteFile' file)}}><i class="material-icons left">delete</i> Remove</a>
    {{/if}}
</div>